.n-av{

    height:100px ;
    width:280px ;
    margin-top:22px;
}
.l-oc{
    margin-top:17px ;
    margin-left: 24px ;
}
.m-ail{
    margin-top:0px ;
    margin-left: 28px ;
}
.e-ma{
    margin-top:0px ;
    margin-right: 160px ;
}
.t-op{
    margin-top: 0px;
}
